@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

body {
  background-color: rgb(51, 33, 12);
  text-align: center;
  color: rgb(224, 244, 247);
}

#myCanvas {
  background-image: url("https://images.stockcake.com/public/2/5/e/25e6e7b9-57d7-4b1a-b6eb-40cd70b36cc2_large/stormy-forest-night-stockcake.jpg");
  background-size: 600px 400px;
  border-radius: 10px;
  background-position: center;
  border: 4px solid rgb(0, 0, 0);
  background-size: cover;
}

h1{
  font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  font-size: 50px;
  font-style: normal;
}

